* {
    box-sizing: border-box;
}

/*body is styled*/
body {
    margin: 0;
    overflow: auto;
    color: #0d0d0d;
    background-color: #8DA9C4;
    /*styled font*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

p {
    background-color: #C0D6DF;
    padding: 2%;
    width: 100%;
}

/*styles links once mouse is hovering*/
a:hover {
    color: #294550;
}

/*headings are styled*/
h1, h2, h4 {
    font-weight: 450;
    margin-bottom: 0;
    padding: 0.5%;
    background-color: #F0F4F8;
}


h1 {
    background-color: #808080;
    color: white;
    text-align: center;
    padding: 2%;
    margin: 0;
}

h2, h4 {
    margin-top: 2.5%;
    padding: 0.2%;
    padding-left: 2%;
    text-align: left;
    width: 100%;
}

h4 {
    margin-top: 0.8%
}

/*style the top navigation*/
#nav {
    border: 1px solid black;
    border-width: 1px;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    background-color: lightslategrey;
    text-align: center;
    color: black;
}

/*styles navigation links*/
#nav a {
    display: inline-block;
    padding: 3px;
    margin-bottom: 0

}



/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #294550;
    border: 1px solid black;
}






/*make the active user text inherit style from container*/

.inbox__people {
    color: #0d0d0d;
    padding: 20px;
}

/*sets max width for messages*/


   
    .sent__message p,
    .received__message p {
        /*prevents long messages from overflowing */
        overflow-wrap: break-word;
    }





/* Style the content */
.content {
    margin-left: 300px;
    padding-left: 20px;
}

/*overriden bootstap col and row*/
.row {
    margin-bottom: 5%;
}

.col {
    padding: 0.1%;
}

/*positions to the right slightly*/
.right {
    padding-left: 7%;
}

/*decreases size to small*/
.small {
    width: 300px;
    height: auto;
}


/*media query for responsiveness, up to 768px*/
@media (max-width: 768px) {

    /*content has no left margin*/
    .content {
        margin-left: 0;

    }

    /*sidenav moves to the top once screen gets smaller*/
    .sidenav {
        width: 100%;
        position: relative;
    }




}